* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin: 0;
    max-height: 100vh;
    padding: 0;
}

/* || General styling */
body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

div > i {
    color: black;
    cursor: pointer;
}

/* || Player body */
.wrapper {
    align-items: center;
    background: linear-gradient(#353333, #222121);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    width: 100vw;
}

.player {
    background-color: #353333;
    border: .06rem solid transparent;
    border-color: #222121;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1.188rem 2.375rem, rgba(0, 0, 0, 0.22) 0 1rem .75rem;
    padding: 1.563rem 3rem;
    text-align: center;
    width: 37.5rem;
}

/* || Music info */
.music-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.625rem;
    padding: 0.625rem;
}

.slider {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.seek-slider {
    appearance: none;
    background: #656363;
    border-radius: 10px;
    cursor: pointer;
    height: 5px;
    overflow: hidden;
    -webkit-appearance: none;
    width: 100%;
}

.song {
    font-size: 2rem;
}

.artist {
    font-size: 1.5em;
}

.cover {
    background-image: url('images/futuristic-beat-joel-filipe-99neAF8kqhg-unsplash-square.jpg');
    background-size: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 9px 14px, rgba(0, 0, 0, 0.22) 0px 7px 6px;
    display: block;
    height: 250px;
    margin: 25px;
    position: relative;
    width: 250px;
}

.current-time,
.musicduration {
    padding: 10px;
}

/* || Controls */
.controls {
    align-items: center;
    animation: scale 3s;
    display: flex;
    justify-content: space-between;
    margin: 1.875rem;
}

.play {
    background: #de0742;
    opacity: 0.8;
    transition: all .2s ease-in-out;
}

.prev,
.play,
.next {
    background: #222121;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 9px 10px, rgba(0, 0, 0, 0.18) 0px 5px 3px;
    /* color: black; */
    justify-content: space-between;
    padding: 25px;
    opacity: 0.8;
    transition: opacity .2s;
}

/* || Footer */
a {
    color: #656363;
}

footer {
    background: #222121;
    bottom: 0;
    margin: 53.5rem auto 0;
    padding: 20px;
    position: absolute;
    width: 100vw;
}

nav {
    list-style: none;
}

.unsplash {
    padding: .5rem;
    margin: auto .5rem;
    border-right: 1.5px solid #656363;
}

/* || Pseudo-classes */
a:hover {
    color: #de0742;
}

.play:hover {
    background-color: #de0742;
    opacity: 1.0;
    transform: scale(1.05);
}

.seek-slider::-webkit-slider-thumb {
    background: #222121;
    border-radius: 10px;
    box-shadow: -200px 0 0 200px #de0742;
    height: 5px;
    -webkit-appearance: none;
    width: 1px;
}

.seek-slider::-webkit-slider-thumb:hover {
    box-shadow: -200px 0 0 200px #de0742;
}

.prev:hover,
.next:hover {
    opacity: 2.0;
}